corners(radius = 4px)
  border-radius: radius

center()
  margin-left: auto
  margin-right: auto

no-dot()
  list-style-type: none
  unless @padding-left
    padding-left: 0

top-highlight-color(color = green)
  border-top: 2px solid color

light-text()
  color: rgba(0, 0, 0, .4)
