body-background = #f7f7f7
body-font = Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif

light-blue = #00b2f3
red        = #B03060
orange     = #FE9A76
yellow     = #FFD700
olive      = #32CD32
green      = #016936
teal       = #008080
blue       = #0E6EB8
violet     = #EE82EE
purple     = #B413EC
pink       = #FF1493
brown      = #A52A2A
grey       = #A0A0A0
black      = rgba(0, 0, 0, .8)

colors = red orange yellow olive green teal blue violet purple pink brown grey black 

@require 'jeet'
@require 'rupture'
@require 'helpers'
jeet.gutter = 4

*, *::before, *::after
  box-sizing: border-box

h4, p
  margin: 0

a
  color: light-blue
  text-decoration: none
  border: none
  transition: all .2s ease
  border-bottom: 1px solid transparent

  &:hover
    color: lighten(light-blue, 10%)
    border-bottom-color: lighten(light-blue, 10%)

section
  overflow: hidden
  margin: 20px 0
  padding: 2px
  padding-bottom: 15px
  border-bottom: 1px solid rgba(0, 0, 0, .1)

h3
  margin: 10px 0

body
  width: 50%
  min-width: 500px
  max-width: 100%
  background: body-background
  color: black
  margin: 0
  center()
  font-family: body-font

header nav
  height: 60px
  color: black
  font-weight: bold
  border-bottom: 3px solid rgba(0, 0, 0, .1)

  a, a:hover
    color: black
    border: none

  ul, li
    no-dot()
    display: inline
    height: 60px
    line-height: 60px

  img, svg
    height: 22px
    margin: 0 10px
    fill: black
    transform: translateY(25%)

    &:hover
      fill: #000000

section.about
  p
    margin: 0
    col(3/4)

  img
    col(1/4)
  
section.experience
  ul
    no-dot()

  li
    box-shadow: 0 0 0 1px rgba(39, 41, 43, .15), 0 1px 4px 0 rgba(0, 0, 0, .15)
    background: white
    padding: 15px
    margin: 15px 0
    corners()
    
    for child in (1..5)
      &:nth-of-type({child})
        top-highlight-color: colors[child - 1]

section.education

  ul
    no-dot()

  li
    col(1/2, cycle: 2)
    position: relative
    corners()
    background: white
    padding: 15px
    box-shadow: 0 3px 0 0 #d4d4d5,0 0 0 1px #d4d4d5
    overflow-x: hidden
  
  h4
    margin-bottom: 10px

  .description
    font-size: 12px
    light-text()

  .gpa, .fact
    font-size: 13px
    font-weight: 600

  .status
    min-height: 35px
    font-size: 13px
    light-text()
    
    &::before
      content: ''
      display: block
      width: 200%
      position: relative
      right: 50%
      margin: 10px
      border-top: 1px solid rgba(0, 0, 0, .1)
  
  .icon
    position: absolute
    right: 10px
    bottom: 10px
    height: 35px
