doctype html
html
  head
    meta[content="IE=edge" http-equiv="X-UA-Compatible"]
    meta[charset="utf-8"]
    meta[content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport"]
    title = current_page.data.title || "Middleman"
    = stylesheet_link_tag :site
    link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"
  body class=page_classes
    = yield
