
*,
*::before,
*::after {
  box-sizing: border-box;
}
h4,
p {
  margin: 0;
}
a {
  color: #00b2f3;
  text-decoration: none;
  border: none;
  transition: all 0.2s ease;
  border-bottom: 1px solid transparent;
}
a:hover {
  color: #0fbfff;
  border-bottom-color: #0fbfff;
}
section {
  overflow: hidden;
  margin: 20px 0;
  padding: 2px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
h3 {
  margin: 10px 0;
}
body {
  width: 50%;
  min-width: 500px;
  max-width: 100%;
  background: #f7f7f7;
  color: rgba(0,0,0,0.8);
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
header nav {
  height: 60px;
  color: rgba(0,0,0,0.8);
  font-weight: bold;
  border-bottom: 3px solid rgba(0,0,0,0.1);
}
header nav a,
header nav a:hover {
  color: rgba(0,0,0,0.8);
  border: none;
}
header nav ul,
header nav li {
  list-style-type: none;
  padding-left: 0;
  display: inline;
  height: 60px;
  line-height: 60px;
}
header nav img,
header nav svg {
  height: 22px;
  margin: 0 10px;
  fill: rgba(0,0,0,0.8);
  transform: translateY(25%);
}
header nav img:hover,
header nav svg:hover {
  fill: #000;
}
section.about p {
  margin: 0;
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 74%;
  margin-left: 0%;
  margin-right: 4%;
}
section.about p:before,
section.about p:after {
  content: '';
  display: table;
}
section.about p:after {
  clear: both;
}
section.about p:last-child {
  margin-right: 0%;
}
section.about img {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 22%;
  margin-left: 0%;
  margin-right: 4%;
}
section.about img:before,
section.about img:after {
  content: '';
  display: table;
}
section.about img:after {
  clear: both;
}
section.about img:last-child {
  margin-right: 0%;
}
section.experience ul {
  list-style-type: none;
  padding-left: 0;
}
section.experience li {
  box-shadow: 0 0 0 1px rgba(39,41,43,0.15), 0 1px 4px 0 rgba(0,0,0,0.15);
  background: #fff;
  padding: 15px;
  margin: 15px 0;
  border-radius: 4px;
}
section.experience li:nth-of-type(1) {
  border-top: 2px solid #b03060;
}
section.experience li:nth-of-type(2) {
  border-top: 2px solid #fe9a76;
}
section.experience li:nth-of-type(3) {
  border-top: 2px solid #ffd700;
}
section.experience li:nth-of-type(4) {
  border-top: 2px solid #32cd32;
}
section.experience li:nth-of-type(5) {
  border-top: 2px solid #016936;
}
section.education ul {
  list-style-type: none;
  padding-left: 0;
}
section.education li {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 48%;
  margin-left: 0%;
  margin-right: 4%;
  position: relative;
  border-radius: 4px;
  background: #fff;
  padding: 15px;
  box-shadow: 0 3px 0 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  overflow-x: hidden;
}
section.education li:before,
section.education li:after {
  content: '';
  display: table;
}
section.education li:after {
  clear: both;
}
section.education li:nth-child(2n) {
  margin-right: 0%;
  float: right;
}
section.education li:nth-child(2n+1) {
  clear: both;
}
section.education h4 {
  margin-bottom: 10px;
}
section.education .description {
  font-size: 12px;
  color: rgba(0,0,0,0.4);
}
section.education .gpa,
section.education .fact {
  font-size: 13px;
  font-weight: 600;
}
section.education .status {
  min-height: 35px;
  font-size: 13px;
  color: rgba(0,0,0,0.4);
}
section.education .status::before {
  content: '';
  display: block;
  width: 200%;
  position: relative;
  right: 50%;
  margin: 10px;
  border-top: 1px solid rgba(0,0,0,0.1);
}
section.education .icon {
  position: absolute;
  right: 10px;
  bottom: 10px;
  height: 35px;
}

